<Transparity.Core.Properties.Settings>
  <setting name="RootServerUrl" serializeAs="String">
    <value>https://localhost:5099/</value>
  </setting>
  <setting name="IgnoreCertificateValidationErrors" serializeAs="String">
    <value>True</value>
  </setting>
  <setting name="StatusResendInterval" serializeAs="String">
    <value>30</value>
  </setting>
  <setting name="TransparityLogsFolder" serializeAs="String">
    <value>C:\TransparityLogs\</value>
  </setting>
</Transparity.Core.Properties.Settings>
