<connectionStrings>
  <add name="TransparityConfigDB"
       connectionString="Data Source=localhost\sqlexpress;Initial Catalog=TransparityConfig;Integrated Security=true;MultipleActiveResultSets=true;" 
       providerName="System.Data.SqlClient" />

  <add name="TransparityHistoryDB"
       connectionString="Data Source=localhost\sqlexpress;Initial Catalog=TransparityHistory;Integrated Security=true;MultipleActiveResultSets=true;" 
       providerName="System.Data.SqlClient" />
</connectionStrings>
